#Секретный ключ для декодирования JWT
#Генерируется командой "openssl rand -hex 32"
SECRET_KEY=*******************

# Строка подключения для PostgreSQl
DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/database

POSTGRES_DB=db_name

POSTGRES_USER=db_user

POSTGRES_PASSWORD=db_password

ACCESS_TOKEN_EXPIRE_MINUTES=15

REFRESH_TOKEN_EXPIRE_DAYS=7